# Environment
.env
.venv/

# Python
__pycache__/
*.pyc

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Local dev playground
scratch/

# Ignore all generated indexes
data/indexes/*

# But include the default demo index
!data/indexes/default/
!data/indexes/default/**